PORT=5000
MONGODB_URI=mongodb://localhost:27017/aegis-escrow
GITHUB_TOKEN=ghp_your_token_here
GITHUB_OWNER=Mukul312004
GITHUB_REPO=defi-bounty-escrow
RPC_URL=https://sepolia.infura.io/v3/YOUR_KEY
ORACLE_PRIVATE_KEY=your_oracle_private_key
CONTRACT_ADDRESS=0xF1d74CC50C1Fd533438FFADa8981E221C17d2531
